/* generel styling */
section {margin-bottom: 1rem;}

h2, h3, h4 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1em;
    font-size: var(--fs-copy);
    line-height: 1.5;
}

ol li {
    margin-left: var(--margin-inline);
    list-style: decimal;
}
/**/

/* hero */
.hero-post {
    background-color: var(--clr-primary-700);
    color: white;
    color: var(--clr-primary-200);
}

.hero-post__container {
    display: flex;
    flex-direction: column;
    height: max(50vh, 100%);
    max-height: 500px;
    min-height: 50vh;
}

#hero-picture {
    background-color: var(--clr-primary-400);
    flex: 1 0 0px;
    min-height: 250px;
    background-size: cover;
    background-position: center;
}

#title-container {
    height: fit-content;
    display: flex;
    min-height: 40%;
}

h1 {
    margin: auto;
    font-size: clamp(var(--fs-500), 3.5vw + 0.5rem, 80px);
    padding: 1em 0.75em;
}
/**/

/* copy and side-panel*/
.container {
    display: flex;
    gap: 2rem;
}

.copy-post {
    flex: 5;
    position: relative;
}

figure {
    width: 100%; /* default */
    overflow: hidden;
    min-height: 50px;
    margin-block: 1em;
}

article img {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}

article img:hover {cursor: zoom-in;}

.side-panel {
    display: none;
    flex: 2;
    background: rgb(238, 232, 232);
    min-height: 700px;
}

/* utility for images */
.img--horizontal {aspect-ratio: 16 / 9;}
.img--vertical {aspect-ratio: 9 / 16;}
.img-float {width: 200px; /* default */}
.float-right {float: right;}
.float-left {float: left;}
/**/


@media only screen and (min-width: 769px){
    .hero-post__container {
        flex-direction: row;
    }
    #hero-picture {
        order: 1;
    }
    #title-container {
        flex: 1;
        margin: auto;     
        align-items: center;
    }
    
    .side-panel {
        display: block;
    }
}

/* comment section */

.comments-section, .comments__container, .comments {
    display: flex;
    flex-direction: column;
}

.comments-section{
    padding-inline: 1rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.comments-section::before {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% - 2rem);
    top: 0;
    background: var(--clr-primary-700)
}

.comments__container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
}

.comments {
    width: 100%;
    flex: 3;
    min-width: min(400px, 100vw);
    overflow-x: hidden;
}

.comments__pagination {
    align-self: center;
    display: flex;
    gap: 0.5rem;
    margin-block: 1rem;
}

.comments__page-index {
    text-align: center;
    font-size: 1.5rem;
    background: #fff;
    border: 1px solid var(--clr-primary-700);
    padding-inline: 0.25em;
}

.comments__profile {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.comments__profile-img {
    height: 100px;
    aspect-ratio: 1;
    background: url(../assets/images/profile_default.svg);
}
.comments__profile-info {flex: 1;}

.comments__profile-info p, 
.leave__comment h3  {margin: 0;}

.comments__profile-username {
    font-size: var(--fs-400);
}

.comments__post-date {opacity: 0.7;}

.comment__post {
    position: relative;
    padding-top: 1rem;
    translate: -100%;
    transition: translate 500ms ease-in-out;
}

.comment__post:not(:first-of-type)::after {
    content: "";
    position: absolute;
    top: 0;
    height: 2px;
    width: 100%;
    opacity: 0.4;
    background: var(--clr-primary-400);
}

.leave__comment {
    flex: 2;
    min-width: min(350px, 100vw);
}

.leave__comment form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.leave__comment form > *:not(button), .input-container > * {
    flex: 1;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.leave__comment form label {
    font-size: var(--fs-300);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-700);
    color: var(--clr-primary-400);
}

label span {
    font-size: smaller;
    font-weight: var(--fw-300);
}

.leave__comment form textarea {min-height: 200px;}

/**/